services:
  master:
    build:
      context: .
      dockerfile: Dockerfile.master
    container_name: mini-spark-master
    ports:
      - "8080:8080"
    environment:
      - RUST_LOG=master=debug,axum=info
    volumes:
      - ./docs:/data

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    environment:
      - MASTER_BASE_URL=http://master:8080
      - WORKER_CONCURRENCY=2
      - MAX_IN_MEM_KEYS=100000 
      - RUST_LOG=info,worker=info
    depends_on:
      - master
    volumes:
      - ./docs:/data

  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: mini-spark-dev
    working_dir: /app
    stdin_open: true
    tty: true
    environment:
      - MASTER_URL=http://master:8080
    volumes:
      - .:/app
      # <<< NUEVO: cache de crates de Rust
      - cargo-registry:/usr/local/cargo/registry

  client:
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app/sparkmini
    environment:
      - MASTER_URL=http://master:8080
    volumes:
      - .:/app
      # <<< NUEVO: comparte el mismo cache
      - cargo-registry:/usr/local/cargo/registry
      - ./docs:/data
    # -q = quiet, menos ruido de Cargo
    entrypoint: ["cargo", "run", "-q", "-p", "client", "--"]

volumes:
  cargo-registry: